{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ include('profil/recruter/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('home') }}">Cancel</a>

{% endblock %}
