{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="small-blank-divider"></div>
		<h2>Jobinator is an application made by Jules Debeaumont using Symfony 5 framework.</h2>
		<h3>It aims for simulating real job seaker application with login, registration, differents type of users
		and an apply system for jobs.</h3>
		<h3>It was made for practice. For more informations, check out the repository on
			<span>
				<a href="https://github.com/JulesDebeaumont/Jobinator-Renew" target="_blank" rel="noreferrer noopener">GitHub</a>
			</span>
		</h3>
	</div>
</div>{% endblock %}
