{% extends 'base.html.twig' %}

{% block body %}

	{% if path(app.request.attributes.get('_route')) is same as('/') %}
		<div class="blank-divider"></div>
	{% endif %}

	<div class="main-page">

		<h1>The job seeker app where companies responds to every applicants.</h1>

		<form>

			<div class="home-search">

				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text label-input" for="job-what">
							<strong>What</strong>
						</label>
					</div>
					<input type="text" class="form-control" id="job-what" placeholder="Job, company.." aria-label="Job, company.." aria-describedby="basic-addon1" name="job-what">
				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text label-input" for="job-where">
							<strong>Where</strong>
						</label>
					</div>
					<input type="text" class="form-control" id="job-where" placeholder="City, department.." aria-label="City, department.." aria-describedby="basic-addon1" name="job-where">
				</div>

				<button type="submit" class="btn btn-dark">
					Search
				</button>
			</div>
		</form>
	</div>

{% endblock %}
