{% extends 'base.html.twig' %}

{% block body %}
<div class="main-search">

    <h3>The job seeker app where companies responds to every applicants.</h3>
    <h6>Try it out!</h6>
    <button type="button" class="btn btn-dark">Search</button>
</div>

{% endblock %}
