{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="small-blank-divider"></div>
		<h1>Register</h1>
		<div class="register-buttons">
			<a class="btn btn-dark" href="{{ path('app_register_candidat') }}">As candidat</a>
			<a class="btn btn-dark" href="{{ path('app_register_recruter') }}">As recruter</a>
		</div>
	</div>
{% endblock %}
