@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --blueAlt: rgb(126, 208, 255);
    --whiteAlt: rgb(211, 211, 211);
}

* {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1 {
    font-size: 3.2em;
}

body, html {
    background-color: #222;
    font-family: 'Rubik', sans-serif;
    font-variant: small-caps;
    color: #fff;
    height: 100%;
}

.navbar-dark {
    background-color: #00000040;
}

.navbar {
    font-size: 1.5em;
}

.nav-item {
    margin: 0px 5px;
}

.navbar-brand {
    font-size: 1.5em;
}

.btn-dark {
    color: var(--blueAlt);
}

#main {
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/city.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-page {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .bg-block {
    margin: 20px;
    padding: 30px;
    background-color: #00000060;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
 }

 @media screen and ( max-width: 1050px ) {
    .main-page {
        margin: 10px;
    }
 }

 .home-search {
     margin: 20px;
     display: flex;
     justify-content: center;
     flex-direction: row;
     align-items: center;
 }

 @media screen and ( max-width: 1050px ) {
    .home-search {
        flex-direction: column;
    }
 }

 .home-search > * {
     margin: 0px 10px;
 }

 @media screen and ( max-width: 1050px ) {
    .home-search > * {
        margin: 10px 10px;
    }
 }

 .label-input {
     font-size: 1.1em;
     background-color: #ddd;
 }

 a, a:visited {
    color: var(--blueAlt);
    text-decoration: none;
    transition: all 0.2ms;
 }

 a:hover {
    color: rgb(57, 182, 255);
 }

 .blank-divider {
     margin-top: 15%;
 }

 .small-blank-divider {
     margin-top: 8%;
 }

 .tiny-blank-divider {
    margin-top: 3%;
}

 @media screen and ( max-width: 1050px ) {
    .blank-divider {
        margin-top: 25%;
    }

    .small-blank-divider {
        margin-top: 15%;
    }

    .tiny-blank-divider {
        margin-top: 6%;
    }
 }

 .register-form, .login-form {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .aligned-input {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .register-form > *, .login-form > * {
    margin: 10px 0px;
}

.form-text {
    color: #fff;
    font-size: 1.0em;
}

.invalid-feedback {
    font-size: 1.0em;
}

.form-group-label {
    font-size: 1.2em;
}

.form-group {
    margin: 15px 0px;
}

.alert {
    color: var(--bs-red);
    font-size: 1.5em;
}

.register-info, .log-info {
    margin-top: 120px;
    font-size: 1.5em;
    color: var(--whiteAlt);
}

.submit-form-button {
    margin-top: 80px;
}

.back-button {
    margin-top: 15px;
}

.misc-info {
    font-size: 1.5em;
}

.register-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.register-buttons > a {
    margin: 40px 20px;
    font-size: 1.3em;
}

.profil-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px;
    font-size: 1.3em;
}

.profil-count {
    font-size: 1.3em;
    margin: 50px 0px;
}

.card-job {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #77777710;
    border-radius: 1em;
    padding: 60px;
    transition: all 0.2s
}

.card-job:hover {
    background-color: #77777734;
}

.card-job-title {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.card-job-info {
    margin-top: 50px;
}

.card-job-link {
    margin: 30px 300px;
}

.profil-info > a {
    color: var(--whiteAlt);
}
