{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="small-blank-divider"></div>
		<h1>My profil</h1>
		<div class="profil">
		<ul>
		{% if user[0][0].name %}
					<li>{{ user[0][0].name }}</li>
		{% endif %}
		{% if user[0][0].surname %}
					<li>{{ user[0][0].surname }}</li>
		{% endif %}
		{% if user[0][0] %}
					<li>{{ user[0][0] }}</li>
		{% endif %}
		</ul>

		
			<div>{{ dump(user) }}</div>
		</div>
	</div>
{% endblock %}
