{% extends 'base.html.twig' %}

{% block title %}Job
{% endblock %}

{% block body %}

	<ul class="profil-info">
		<div class="card-job-link">
			<li class="card-job-single">
				{% include 'job/content.html.twig' with { job : job } %}
				{% if is_granted('JOB_EDIT', job) %}
					<div class="buttons-group">
						<a class="btn btn-dark" href="{{ path('application_index', {'job_id': job.id}) }}">See candidats</a>
						<a class="btn btn-dark" href="{{ path('job_edit', {'id': job.id}) }}">Edit</a>
						{% include 'job/_delete_form.html.twig' with { job : job } %}
					</div>
				{% endif %}

				{% if is_granted('ROLE_CANDIDAT') %}
					<div class="buttons-group">
						{% if alreadyApplied %}
							<a class="btn btn-dark confirmed">Already applied ✔</a>
						{% else %}
							<a class="btn btn-dark" href="{{ path('application_new', {'job_id': job.id,}) }}">Apply</a>
						{% endif %}
					</div>
				{% endif %}
			</li>
		</div>
	</ul>

{% endblock %}
