{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1>Apply to a job</h1>
		<a href="#job">Show the job</a>
		{{ include('application/_form.html.twig') }}

		<a href="{{ path('home') }}">Cancel</a>
		<div class="small-blank-divider"></div>
		<ul class="profil-info" id="job">
			<div class="card-job-link">
				<li class="card-job-single">{% include 'job/content.html.twig' with { job: job} %}</li>
			</ul>
		</div>
	</li>
	<div class="small-blank-divider"></div>
</li></div>{% endblock %}
