@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(8, 12, 8);
    font-family: 'Rubik', sans-serif;
    color: #fff;
}
