{% extends 'base.html.twig' %}

{% block title %}New Message
{% endblock %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">New message</h1>

		{{ include('message/_form.html.twig') }}

		<a href="{{ path('my_jobs') }}">Cancel</a>

		<div class="small-blank-divider"></div>
	</div>
{% endblock %}
