{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<li>
			{% for message in messages %}
				<ul>
					<div>{{ message.content }}</div>
				</ul>
			{% else %}
				<span>No message yet.</span>
			{% endfor %}
		</li>

		{{ include('message/_form.html.twig') }}

		<a href="{{ path('conversation_index') }}">Back</a>

		<div class="small-blank-divider"></div>
	</div>
{% endblock %}
